.container{
   display: flex;
}

.left,
.right{
    height: 100%;
    width: 50%;
}

.left{
    flex: 1;
    position: sticky;
    height: 100vh;
}

.left{
    box-shadow: -2px 0 6px rgba(0, 0, 0, 0.08);
    padding: 1rem;
}

.btn{
    border: none;
    background-color: var(--accent);
    padding: .5rem;
}

.btn:hover{
    transform: scale(1.1);
}

.btn:active{
    transform: scale(1.07);
}