.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.card{
    margin-bottom: 1rem;
    height: auto;
    width: 70%;
}

@media screen and (width >= 768px){
    .container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
    }
}

@media screen and (width >= 1024px){
    .container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
    }
}

@media screen and (width >= 2560px){
    .container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        justify-items: center;
        gap: 5rem;
    }
}