.container{
    display: flex;
    flex-direction: column;
    padding: .5rem;
    background-color: var(--bg);
    font-family: var(--primary-font);
    box-shadow: 0 4px 6px -2px rgba(128, 128, 128, 0.3);

}

.logo{
    margin-top: .5rem;
    width: 150px;
    height: auto;   
}

.links{
    margin-top: .5rem;
    color: black;
    text-decoration: none;
}

.links:hover{
    transform: scale(1.1);
}

.links:active{
    transform: scale(1.07);
}

.nav{
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
}

.allLinks{
    margin-left: auto;
    display: flex;
    gap: 1rem;
}

.count{
    color: white;
    background-color: red;
    border-radius: 50%;
}

.count{
    transform: scale(0.7) translateY(-60px);
    text-align: center;
    font-weight: bolder;
    font-size: large;
    padding: .2rem;
}