.container{
    border: solid 1px black;
    padding: 1rem;
    display: flex;
    flex-direction: column;
   
}

img{
    width: 100%;
    height: 250px;
    object-fit: contain;
    
}

.titlePrice{
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
    align-items: flex-start;
}

.changeQuant{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .3rem;
    width: 100%;
}

.quantButtons{
    background: none;
    border: none;
    background-color: var(--accent);
    
}

.quantButtons:hover{
    transform: scale(1.1);
}

.quantButtons:active{
    transform: scale(1.07);
}

input{
    width: 20%;
    background: none;
    text-align: center;
    border: none;
    background-color: var(--accent);
    padding: .2rem;
}

.btn{
    justify-content: end;
}

.addBtn{
    border: none;
    background-color: var(--accent);
    padding: .2rem;
}

.addBtn:hover{
    transform: scale(1.1);
}

.addBtn:active{
    transform: scale(1.07);
}

.userBtn{
    display: flex;
    justify-content: flex-start;
    gap: .4rem;
    
}
.title{
    height: 7rem;
    overflow: hidden;
}

